$red : #d03438;
.page-wrapper{
    position: relative;
    .pfp{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        backdrop-filter: blur(4px);
        height: 100%;
        z-index: 1;
        bottom: 4rem;

        img{
            height: 15rem;
            border-radius: 50%;
        }

    }
}

.department-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    h1,h2,h3,h4,h5,h6{
        margin: 0;
    }
    .fa-user , .fa-bars{
    font-size: 2rem;
    }

    .edit--btn , .delete--btn{
        background-color: transparent;
        border: none;
        color: gray;
        transition: .2s ease-in-out;
        &:hover{
            color: black;
        }
    }
    .fa-arrow-right{
        width: 2rem;
    }
}

.add-button,.remove-button{
    background-color: transparent;
    border: 0;
    font-size: 2rem;
    font-weight: 500;
    transition: .2s ease-in-out ;
    &:hover{ 
    color: $red ;
    }
}

.remove-button-disabled{
    background-color: transparent;
    border:0;
    opacity: 0.5;
    font-size: 2rem;
    font-weight: 500;
    color: gray;
    cursor: not-allowed;
}